<ion-content [fullscreen]="true" class="ion-padding">
  <ion-toolbar>
    <ion-title class="ion-text-center">Botão de Emergência</ion-title>
  </ion-toolbar>
  <div>
  <p>O presente projeto propõe o desenvolvimento de um Sistema de Alerta para
Pacientes com Doenças Crônicas, voltado para situações de emergência onde o
paciente necessita de atendimento rápido por parte de um cuidador. </p>

    <p>
      O sistema, feito pelo grupo de <b>Saúde Comunitária Inteligente</b> da turma <b>ADS0301N</b>
      utiliza uma integração entre Arduino Uno, módulo Bluetooth, aplicativo móvel (Ionic) e plataforma Firebase,
      possibilitando o acionamento de alarmes locais e notificações remotas.
    </p>
  </div>

</ion-content>

<app-footer-navigation currentPage="about"></app-footer-navigation>
