<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando dicas de saúde...</p>
  </ng-container>
  <ng-container *ngIf="error">
    <ion-text color="danger">{{ error }}</ion-text>
  </ng-container>
  <ng-container *ngIf="!loading && !error">
    <ion-card *ngFor="let advice of advices">
      <ion-card-header>
        <ion-card-title>{{ advice.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ advice.description }}</ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<app-footer-navigation currentPage="news"></app-footer-navigation>
